 @use '../abstracts/_variables.scss' as *;

 .header-container {
   width: 100vw;
   position: sticky;
   top: 0;
   margin: 0%;
   padding: 1rem 2rem;
   background-color: $primary-color;
   z-index: 1;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
 }

 .sub-header-container {
   min-width: 1600px;
 }
