@use '../abstracts/root.scss' as *;

.product-list {
  flex-direction: column;
  min-width: 1700px;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}


.filters-panel {
  flex-direction: column;
  gap: 2rem;
  top: 0%;
  background-color: rgb(254, 254, 254);
  position: fixed;
  left: 0%;
  z-index: 1000;
  width: 450px;
  height: 100vh;
}

.categories {
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
}

.filters-panel-header {
  width: 100%;
  border-bottom: 1px solid rgb(236, 233, 233);

  .filters-panel-title {
    font-weight: 600;
    font-size: 1.17em;
    padding: 16px;

  }
}


.filters-panel-body {
  flex-direction: column;
  gap: 2rem;
  padding: 16px;


}

.filters {
  background-color: $secondary-color;
  padding: 16px 0px;
  width: 1600px;
}

.filter-container {
  overflow-x: auto;
  flex-wrap: nowrap;
  flex: 1;
  gap: 8px;
  padding-bottom: 4px;
}

.filter-panel-footer {
  flex-direction: column;
  gap: 16px;
  min-width: 420px;
  min-height: 130px;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: $secondary-color;
}

.filter-sort-panel {
  padding: 1rem 2rem;
  width: 100vw;
  border-bottom: 1px solid rgb(194, 192, 192);

  option {
    font-size: 14px;
  }
}

.sub-filter-sort-panel {
  min-width: 1600px;
}