@use '../abstracts/_variables.scss' as *;

.user-control-container {
  gap: 16px;
}

.product-brand {
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  color: $secondary-color;
}

.favourite-list-count {
  position: absolute;
  background-color: rgb(172, 30, 30);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 1.2rem;
  text-align: center;
  color: $secondary-color;
  right: -5px;
  top: -5px;
}

.cart {
  background-color: $primary-color;
  color: $secondary-color;
  font-size: 1.5rem;
  padding: 8px 4px 4px 8px;
}