.filter-pill,
.clear-filters {
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  padding: 0 18px;
  justify-content: space-between;
  white-space: nowrap;
  font-size: 14px;
}

.remove-filter,
i {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 4px;
  font-weight: 300;
  text-align: left;
}


.clear-filters {
  flex-shrink: 0;
  font-weight: 800;
  background-color: var(--secondary-color);
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}