 @use '../abstracts/_variables.scss' as *;


 .search-input {
   background-color: $primary-color;
   font-size: 1.1rem;
   width: 130px;
   text-align: center;
   padding: 8px;
   color: $secondary-color;
   border: 1px solid $secondary-color;
 }

 ::placeholder {
   color: $secondary-color;
 }