.product-specifications {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
  width: 1600px;

  .grid-button {
    padding: 16px;
    background-color: var(--secondary-color);
    font-size: 24px;
  }

  .grid-button.active {
    border: 1px solid #333;
  }
}

.sub-product-specifications {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-length {
  font-size: 20px;
  letter-spacing: 3px;
}