button {
  border: none;
  cursor: pointer;
}

.header-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.3rem;
  position: relative;
}


.add-cart-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: fit-content;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  border: 1px solid black;
  padding: 0.5rem;

}

.header-button:hover {
  background-color: rgb(64, 64, 64);
  border-radius: 45%;
}

.fav-icon {
  position: absolute;
  right: 0;
  font-size: 1.4rem;
  padding: 0.5rem;
  margin: 1rem;
  font-weight: 300;
  border-radius: 50%;
}

.fav-icon:hover,
.fav-detail:hover {
  background-color: rgba(202, 196, 196, 0.6);
}


.back-button {
  width: 85px;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 8px;
}

.back-button:hover {
  border: 2px solid var(--primary-color);
}

.size-option {
  flex: 1;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1rem;
  background-color: var(--secondary-color);
  border: 1px solid #ccc;
}

.size-option:hover {
  background-color: #f8f8f8;
  border-color: var(--primary-color);
}

.counter-button {
  background: none;
  font-size: 1.5rem;
}

.addCart-details {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 5rem;
  border-radius: 24px;
  font-size: 1rem;
}

.fav-detail {
  color: #484747;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-control-button button,
select {
  min-width: 135px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 1px solid rgb(168, 164, 164);
}

.close-filter {

  font-size: 1rem;
  text-align: center;
  margin: 16px;
  background-color: #fffcfc;
}

.apply-filter {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 16px 150px;
  font-size: 20px;
}

.clear-all {
  height: 30px;
  width: 300px;
  text-align: center;
  background-color: var(--secondary-color);
}

.clear-all>i {
  font-weight: 800;
  font-size: 18px;
}

.ri-heart-fill {
  color: red;
}