.search-input {
  background-color: rgb(10, 10, 10);
  font-size: 1.1rem;
  width: 130px;
  text-align: center;
  height: 40px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

::placeholder {
  color: var(--secondary-color);
}