.product {
  min-height: 500px;
  min-width: 380px;
  text-align: center;
  cursor: pointer;
}

.image-container {
  background-color: rgb(240, 240, 240);
  overflow: hidden;
  position: relative;
}

.product-image {
  padding: 16px;
  width: 300px;
  height: 320px;
  object-fit: cover;
}

.product-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 8px;
}

.sub-product-info {
  display: flex;
  min-width: 350px;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-top: 8px;

}

.product h4 {
  word-wrap: break-word;
  font-weight: 800;
  text-align: left;
  line-height: 24px;
  max-width: 200px;

}

.product .price {
  font-weight: 800;
  color: brown;
}


.grid-2 .product {
  min-height: 600px;
  min-width: 765px;
}

.grid-2 .sub-product-info {
  gap: 16px;
  display: flex;
  min-width: 760px;
  justify-content: space-between;
}

.grid-2 .product img {
  padding: 16px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}