.product {
  border-radius: 26px;
  max-height: 450px;
  text-align: center;
  max-width: 280px;
  cursor: pointer;
}

.image-container {
  background-color: rgb(240, 240, 240);
  border-radius: 26px;
  overflow: hidden;
  position: relative;
}

img {
  padding: 16px;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product h3 {
  font-size: 1.3rem;
  margin: 20.8px;
  height: 55px;
}

.product .price {
  font-size: 20.8px;
  font-weight: 800;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.isFav {
  color: var(--isFav);
}