.visual-size {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
  width: 1600px;
}

.sub-visual-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-length {
  font-size: 20px;
  letter-spacing: 3px;
}

.visual-size button {
  padding: 16px;
  background-color: var(--secondary-color);
  font-size: 24px;
}