.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
  justify-content: center;
  /* align-content: flex-start; */
}

.product-status-message {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-products {
  margin-top: 5.3rem;
}