.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  justify-content: flex-start;
  width: 1600px;
}

.product-status-message {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  justify-content: flex-start;
  min-width: 1600px;
}