.products,
.product-status-message {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  gap: 2.8rem;
  margin-top: 2rem;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.fav-products {
  display: grid;
  gap: 2.8rem;
  margin-top: 5.3rem;
  justify-content: center;
}