.productList {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.container {
  max-width: 1800px;
  margin: 5rem 0rem 0rem 5rem;
  display: flex;
  justify-content: center;
  position: relative;
  /* border: 1px solid black; */
}

.categoryAndBrandContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 10%;
  left: 0%;
  margin: 16px 0px 0px 16px;
  z-index: 1000;
  width: 240px;
  height: 855px;
}

.categories,
.brands {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.productBrand {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.noProducts {
  font-size: 1.8rem;
  padding: 32px;
}

.filters {
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: white;
  width: 60%;
  margin-left: 415px;
  position: fixed;
  top: 6%;
  padding: 1rem;
  border-radius: 16px;
  z-index: 1001;
  gap: 1rem;
}

.filterContainer {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1;
  gap: 8px;
  padding-bottom: 4px;
}