.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 1700px;
  margin-top: 4.5rem;
}

.container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.filters-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  top: 0%;
  background-color: rgb(254, 254, 254);
  position: fixed;
  left: 0%;
  z-index: 1000;
  width: 450px;
  height: 100vh;
}

.categories {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
}

.filters-panel-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(236, 233, 233);
}

.filters-panel-header h3 {
  font-weight: 600;
  padding: 16px;
}

.filters-panel-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 16px;
}

.product-brand {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.product-status-message {
  font-size: 1.8rem;
  padding: 32px;
}

.filters {
  display: flex;
  background-color: var(--secondary-color);
  padding: 1rem;
  justify-content: center;
}

.sub-filters {
  min-width: 1600px;
  display: flex;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  flex: 1;
  gap: 8px;
  padding-bottom: 4px;
}

.filter-panel-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  min-width: 420px;
  min-height: 130px;
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: var(--secondary-color);
}

.user-control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  width: 100vw;
  border-bottom: 1px solid rgb(194, 192, 192);
}

.sub-user-control-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1600px;
}

.user-control-button option {
  font-size: 14px;
}