.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 5rem 0rem 0rem 0rem;
  display: flex;
  position: relative;
}

.filters-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 0%;
  background-color: rgb(254, 254, 254);
  position: fixed;
  left: 0%;
  /* margin: 16px 0px 0px 16px; */
  padding: 16px 16px 0px 16px;
  z-index: 1000;
  width: 350px;
  height: 100vh;
  border: 1px solid black;
}

.filters-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 8px 0px;
  /* align-items: center; */
}

.filter-title {
  margin: 24px;
}

.category-section,
.brands {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 800px;
  overflow-y: scroll;
}

.product-brand {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.product-status-message {
  font-size: 1.8rem;
  padding: 32px;
}

.filters {
  display: flex;
  background-color: var(--secondary-color);
  max-width: 1140px;
  /* position: fixed;
  top: 6%; */
  padding: 1rem;
  border-radius: 16px;
  z-index: 1001;
  gap: 1rem;
}

.filter-container {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  flex: 1;
  gap: 8px;
  padding-bottom: 4px;
}

.selectable-item .el-checkbox .el-checkbox__label {
  font-size: 18px;
}

